/* This CSS file contains styles for the blog section of the portfolio website. */

body {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* Container for the slider with hidden overflow and a maximum width of 1200px. */
.slider-wrap {
  overflow: hidden;
  max-width: 1200px;
}

/* Styles for the pagination bullets in the slider. */
.slider-wrap .swiper-pagination-bullet {
  background: #fff;
  height: 15px;
  width: 15px;
}

/* Styles for the slide buttons in the slider. */
.slider-wrap .swiper-slide-button {
  color: #fff;
  margin-top: -50px; /* Moves the buttons up. */
}

/* Changes the text color to blue when hovered over */
.slider-wrap .swiper-slide-button:hover {
  color: blue;
}

.card-list .card {
  color: #fff;
  width: 400px;
  padding: 35px;
  display: flex; /* Makes the card a flex container. */
  flex-direction: column; /* Aligns the content vertically. */
  align-items: center;
  justify-content: center; /* Centers the content vertically and horizontally. */
  border-radius: 8px;
  background: rgba(
    255,
    255,
    255,
    0.2
  ); /* sets a semi-transparent white background. */
  border: 1px solid rgba(255, 255, 255, 0.25); /* adds a semi-transparent white border.*/
}
/* styling of card image */
.card-list .card .blog-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 40px;
  border: 3px solid #fff;
  padding: 4px;
}

.card-list .card .blog-name {
  color: #620847;
}

.card-list .card .blog-description {
  font-size: 18px;
  color: #fff;
  text-align: left;
  font-weight: 300;
  padding: 12px;
}

/* read more button styling */
.card-list .card .read-more {
  font-size: 15px;
  padding: 5px 10px;
  color: #620847;
  border-radius: 6px;
  font-weight: 700;
  background: #f9cff7;
  opacity: 0.5; /* Sets the opacity of the button. */
  border: 1px solid transparent;
  transition: 0.3s ease; /* Adds a transition effect for changes. */
}

/* hover effect for the read more button */
.card-list .card .read-more:hover {
  background: rgba(
    255,
    255,
    255,
    0.1
  ); /* Sets a semi-transparent white background. */
  border: 1px solid #fff;
  color: #fff;
}

@media (max-width: 768px) {
  .slider-wrap {
    margin: 0 10px 40px;
  }
}

img {
  display: block;
  width: 100%;
}

h2 {
  margin: 0;
  font-size: 1.4rem;
}

@media (min-width: 800px) {
  h2 {
    font-size: 25px;
  }
}

/* Modal Specific Styling */
.modaloverlay {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 400ms ease-in; /* Adds a transition effect for changes. */
}

/* targets the element with the class 'modaloverlay' when it is the target of a URL fragment identifier.*/
/* When the user clicks the "Read More" link, the URL fragment changes to #modal, 
and the CSS rule .modaloverlay:target applies, making the modal visible and interactive */
.modaloverlay:target {
  display: block; /* Makes the element visible. */
  opacity: 1; /* Sets the element's opacity to fully opaque. */
  pointer-events: auto; /* Allows the element to receive pointer events. */
}

.modal {
  background-color: rgb(245, 245, 245);
  height: 100%;
  margin: 0 auto;
  padding: 3em;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; /* Enables smooth scrolling on iOS devices. */
}

/* close button */
.close {
  font-size: 28px; 
  color: #f9cff7; /* Sets the color of the close button. */
  text-decoration: none;
  position: absolute; 
  right: 20px;
  top: 20px;
  font-family: "Poppins", sans-serif; /* Sets the font family for the close button. */
}

/* Modal Image Styling */
.modal .blog-img {
  background-color: #f9cff7;
  width: 50%; /* Adjust the width to make the image smaller */
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: block;
  margin: 20px auto; /* Centers the image */
}

/* Modal Headings */
.modal h2 {
  font-family: "Poppins", sans-serif; /* Sets the font family for the heading. */
  font-size: 28px;
  color: #ff69b4;
  text-align: center;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1); /* Adds a shadow to the text. */
  margin-bottom: 20px;
}

.modal h3 {
  font-family: "Poppins", sans-serif; /* Sets the font family for the heading. */
  font-size: 22px;
  color: #ff1493;
  margin-bottom: 15px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Adds a shadow to the text. */
}

/* Modal Text Styling */
.modal p {
  font-family: "Arial", sans-serif; /* Sets the font family for the paragraph. */
  font-size: 18px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 20px;
}

.modal p i {
  color: #ff69b4;
}

.modal ul {
  list-style-type: none; /* Removes the default list style. */
  padding: 0;
}

.modal ul li {
  font-family: "Arial", sans-serif; /* Sets the font family for the list items. */
  font-size: 18px;
  color: #ff69b4;
  margin-bottom: 10px;
}

.modal ul li b {
  color: #ff4500;
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th,
td {
  border: 2px solid #ff69b4;
  padding: 10px;
  text-align: left;
  font-size: 18px;
}

th {
  background-color: #f9cff7;
  color: #ff1493;
}

/* sets background color of (tr) that are even-numbered children to #ffe6f2 */
tr:nth-child(even) {
  background-color: #ffe6f2;
}
/* hover effect for table rows */
tr:hover {
  background-color: #ffb3e6;
  transition: background-color 0.3s;
}

/* Mobile Responsive for Modal */
/*defines styles for a modal and its card component when the screen width is 800px or less. */
@media screen and (max-width: 800px) {
  .modal {
    width: 100%;
  }

  .modal .card {
    max-width: 100%;
  }
}
