/* Global Reset to remove default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* to ensure that padding and border widths are included in the element's total width and height*/
}

html {
    font-size: 14px; /* Base font size */
}

/* Body styling: setting the font, background, color, and centering content */
body {
    font-family: 'Raleway', sans-serif; 
    background: linear-gradient(to right, #fe94c8, #ff98e2); /* applies a linear gradient background where direction is set to move from left to right. */
    text-align: center;
    min-height: 100vh; /* Set the minimum height of the viewport */
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 80px; /* Adjust based on header height */
}

/* Basic styling */
header {
    position: absolute;  
    top: 0;
    width: 100%; /* header stretches across the full width of the viewport */
    padding: 20px 0; /* adjust top and bottom padding of 20px vertically*/
    background-color: #aa2e91; 
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden; /* Prevent overflow */
}

/* Logo styles */
.logo {
    color: white;
    font-size: 20px; 
    font-weight: bold;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    letter-spacing: 3px;
}

/* Navigation styles */
nav ul {
    list-style: none; /* Removed default list styles */
    display: flex; /* Display the menu items in a row. flex aligns in a row by default */
    justify-content: center;
    gap: 70px; /* gap between the menu items */
    margin-top: 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    position: relative; /* Position relative to the parent element */
}

/* Hover effect */
/* The ::after pseudo-element initially has a width of 0, making it invisible. When the user hovers over the anchor tag, the width transitions to 100% over 0.3 seconds, creating a smooth animation that makes the underline appear to grow from left to right */
/* this pseudo element creates an underline effect that animates when the width changes */
nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    bottom: -5px; /* Position the underline 5px below the text */
    left: 0;
    transition: width 0.3s ease;
}
nav ul li a:hover::after {
    width: 100%;
}

/* Active link */
nav ul li a.active {
    color: #ffcc00;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column; /* flex container to stack its child elements in a column direction. */
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease; /* Transition effect */
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .container {
        padding: 0 10px;
    }
}

@media (max-width: 780px) {
    /* Hide the default horizontal menu and make the hamburger menu visible */
    nav ul {
        display: none; 
        flex-direction: column; /* flex container to stack its child elements in a column direction. */
        position: absolute; /* Position the menu absolutely */
        top: 65px;
        right: 20px;
        width: 200px;
        padding: 50px;
        border-radius: 10px;
        background-color: #e14cc3;
        opacity: 0.9; /* Set the opacity to 0.9 to make it semi transparent*/
        transition: all 0.3s ease; /* Transition effect */
        z-index: 1000; /* Higher z-index to stay on top of the content */
    }

    nav ul.active {
        display: flex; 
    }

    nav ul li {
        margin-bottom: 15px;
        text-align: center;
    }

    .hamburger {
        display: flex; 
    }
}

/* Subtitle under the main title */
.subtitle {
    font-size: 20px;
    margin-top: 20px;
    color: white;
}

/* Main title (h1) styling */
h1 {
    font-size: 4rem;
    line-height: 1.2;
    color: #581a58;
}

/* Special class for the main name text */
.name {
    font-size: 90px;
    font-weight: bold;
    color: white;
}

/* Styling for the aspiring text */
.aspiring {
    font-size: 30px; 
    color: white;
    margin: 20px 0; 
}

/* Button styling */
.btn {
    display: inline-block; /* makes the button an inline-level block container */
    margin-top: 30px; 
    padding: 10px 30px; /* adds 10px padding to the top and bottom, and 30px padding to the left and right */
    border: 2px solid white; /* adds a 2px solid white border around the button */
    border-radius: 30px; /* rounds the corners of the button with a radius of 30px */
    text-decoration: none; /* removes any text decoration from the button */
    color: white;
    font-weight: bold;
    font-size: 15px; 
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Hero section styling */
.hero {
    display: flex;
    align-items: center; 
    padding: 30px;
    margin: 0 auto; /* Center the hero */
    margin-top: 30px;
    flex-wrap: wrap; /*Flex items will wrap onto multiple lines, from top to bottom. */
}

/* Profile Image */
.hero-img {
    border-radius: 50%;
    margin-left: 110px;
    width: 450px; 
    height: 450px;
    max-width: 100%; /* Prevent overflow on smaller screens */
    height: auto;
}

/* Animated Text Styles */
.animated-text {
    display: flex;
    justify-content: center; 
    margin-top: 10px; 
}

.fade-in {
    opacity: 0;
    animation: fadeInOut 6s linear infinite;
    position: absolute;
    color: rgb(180, 16, 180);
    text-shadow: #1e1a1c;
}


.fade-in:nth-child(1) {
    animation-delay: 0s; /* Applies a fade-in animation with no delay. */
}

.fade-in:nth-child(2) {
    animation-delay: 2s; /* Applies a fade-in animation with a 2-second delay. */
}

.fade-in:nth-child(3) {
    animation-delay: 4s; /* Applies a fade-in animation with a 4-second delay. */
}

/* Keyframes for the fade-in animation */
@keyframes fadeInOut {
    0% { opacity: 0; } /* Element is fully transparent. */
    10% { opacity: 1; } /* Element fades in to full opacity. */
    30% { opacity: 1; } /* Element remains fully opaque. */
    40% { opacity: 0; } /* Element starts fading out. */
    100% { opacity: 0; } /* Element is fully transparent again. */
}

/* Responsive Styles */
@media (max-width: 720px) {
    .hero {
        flex-direction: column;
        text-align: center;
        margin-left: 0;
        padding: 10px;
    }

    .hero-img {
        width: 300px;
        height: auto;
        margin: 20px 0; 
        order: 2; 
    }

    h1 {
        order: 1; 
        font-size: 2.5rem;
    }

    .aspiring {
        order: 3; 
        font-size: 1.3rem;
    }

    .btn {
        padding: 8px 20px;
        font-size: 0.9rem;
        order: 4; 
    }
}

/* Footer Section */
.footer {
    text-align: center;
}

.footer .row {
    width: 100%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 12px;
}

.footer .row a {
    text-decoration: none;
    transition: 0.5s; /* Transition effect */
}

.footer .row a:hover {
    color: #fff;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%; /* creates a small horizontal space on both sides of the element */
}

/* Responsive Styles of footer*/
@media (max-width: 720px) {
    .footer {
        text-align: center;
        padding: 5%;
    }
    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }
    .footer .row a i {
        margin: 0% 3%; /* creates a small horizontal space on both sides of the element */
    }
}

@media (min-width: 721px) and (max-width: 1200px) {
    h1 {
        font-size: 3rem; /* Adjust for medium screens */
    }

    .name {
        font-size: 70px; /* Adjust for medium screens */
    }

    .aspiring {
        font-size: 1.5rem; /* Adjust for medium screens */
    }

    .btn {
        padding: 10px 25px; /* Adjust button padding */
    }

    .hero-img {
        width: 400px; /* Adjust image size */
        height: auto;
    }
}

@media (min-width: 1920px) {
    .hero {
        margin-left: 400px; /* Standard margin for large screens */
    }
    h1 {
        font-size: 4rem; /* Standard size for large screens */
    }

    .name {
        font-size: 90px; /* Standard size for large screens */
    }

    .aspiring {
        font-size: 2rem; /* Standard size for large screens */
    }

    .btn {
        padding: 10px 30px; /* Standard button padding */
    }

    .hero-img {
        width: 450px; /* Standard image size */
        height: auto; 
    }
}

.facebook { color: #3b5998; }
.instagram { color: #e1306c; }
.linkedin { color: #0077b5; }
.pinterest { color: #f2281d; }
